# Medicare Claims Data Analysis Project Goals:

* Connect to an external/3rd party API and read data into your app

* Create and call at least 3 functions, at least one of which must return a value that is used **Possibly

* Calculate and display data based on an external factor (ex: get the current date, and display how many days remaining until some event) **Possibly

* Analyze text/data and display information about it (ex: how many words in a paragraph)

* Visualize data in a graph, chart, or other visual representation of data

In [34]:
import json
import pandas as pd

## Connect to an external/3rd party API and read data into your app

### Medicare Data Set of Surgical HCPCS Codes Reported on Claims - 2017

* CMS API Endpoint: https://data.cms.gov/resource/2zuc-y5mm.json
* API Documentation: https://dev.socrata.com/foundry/data.cms.gov/2zuc-y5mm
* Was able to use documentation to format the below SoQL query within my link to get a specific set of HPCPCS Codes (10004 - 69990, surgical codes):
"https://data.cms.gov/resource/2zuc-y5mm.json?$where=hcpcs_code between '10004' and '69990'&$limit=10000 "

In [36]:
url = "https://data.cms.gov/resource/2zuc-y5mm.json?$where=hcpcs_code between '10004' and '69990'&$limit=10000 "
request = requests.get(url)
df = pd.read_json(request.content)

In [37]:
df

,hcpcs_code,hcpcs_description,hcpcs_drug_indicator,place_of_service,number_of_providers,number_of_services,number_of_unique_beneficiary_provider_interactions,number_of_distinct_medicare_beneficiary_per_day_services,average_submitted_charge_amount,average_medicare_allowed_amount,average_medicare_payment_amount,average_medicare_standardized_payment_amount
0,10021,Fine needle aspiration,N,F,2438,6298,5953,6083,386.11,72.02,54.72,54.31
1,10021,Fine needle aspiration,N,O,5411,16088,14265,15415,313.26,120.05,89.58,91.34
2,10022,Fine needle aspiration using imaging guidance,N,F,10899,91016,76735,77793,300.49,67.12,50.94,51.34
3,10022,Fine needle aspiration using imaging guidance,N,O,6701,94543,69814,75462,346.91,140.86,106.71,106.21
4,10030,Fluid collection drainage by catheter using im...,N,F,3723,7723,7134,7422,877.29,152.49,117.78,118.22
...,...,...,...,...,...,...,...,...,...,...,...,...
7567,69960,Release ear canal,N,F,21,25,25,25,8188.68,1355.00,1059.10,962.43
7568,69970,Removal of growth of temporal bone,N,F,21,26,25,26,7649.44,1831.32,1430.14,1372.77
7569,69979,Temporal bone procedure,N,F,17,22,22,22,6777.40,1332.16,1038.33,1044.54
7570,69990,Use of operating microscope,N,F,3233,13709,13451,13700,1020.89,200.17,154.95,158.19
7571,69990,Use of operating microscope,N,O,22,24,24,24,812.21,205.02,159.90,168.03

## Analyze text/data and display information about it (ex: how many words in a paragraph)

### What questions can I use this data set to answer?

* What surgical procedures were most common in 2017? (Can add more years if needed)
* What surgical procedures, overall, cost Medicare the most?
* What procedures were least covered (i.e. where discrepancy between charges and amount paid was greatest).
* What types of procedures are most common (can organize by specialty or by surgery method, etc.)
* What health problems does this analysis bring up and how can we solve them?

## Visualize data in a graph, chart, or other visual representation of data

* Will need to import library (such as matplotlib) for visualization) and find ways to use that.

## Other Goals

* Create and call at least 3 functions, at least one of which must return a value that is used **Possibly

* Calculate and display data based on an external factor (ex: get the current date, and display how many days remaining until some event) **Possibly

Will evaluate these to see if they would be practical in this project.